{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Form Analysis</h5>
      </div>
      <div class="card-body">

        <form action="{% url 'result' %}">

           {% csrf_token %}
          
          <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>Fond Roulement</label>
                <input type="number" class="form-control" required name="fond_roulement" id="cp">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>Total Actifs</label>
                <input type="number" class="form-control" required name="total_des_actifs" id="tca">
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Bénefices Non Répartis </label>
                <input type="number" class="form-control" required name="Bénefices_non_repartis" id="tnca">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>Bénéfice avant intérêts impôts</label>
                <input type="number" class="form-control" required name="Bénéfice_avant_intérêts_impôts" id="tncl">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>Valeur marchande capitaux propres A1</label>
                <input type="number" class="form-control" required name="Valeur_marchande_capitaux_propres_A1" id="tcl">
              </div>
            </div>
          </div>


          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Valeur marchande capitaux propres A2</label>
              <input type="number" class="form-control" required name="Valeur_marchande_capitaux_propres_A2" id="tcl">
            </div>
          </div>
        </div>



          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label> Total passifs</label>
                <input type="number" class="form-control"  required name="Total_passifs" id="ap">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Ventes_nettes</label>
                <input type="number" class="form-control" required name="Ventes_nettes" id="toi">
              </div>
            </div>


            


            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary" >Analyze</button>
    
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.display();

  });
</script>

{% endblock javascripts %}