{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Form Analysis</h5>
      </div>
      <div class="card-body">

        <form action="{% url 'result' %}">

           {% csrf_token %}
          
          <div class="row">
            <div class="col-md-5 pr-md-1">
              <div class="form-group">
                <label>Equity</label>
                <input type="number" class="form-control" required name="capitaux_propres" id="cp">
              </div>
            </div>
            <div class="col-md-3 px-md-1">
              <div class="form-group">
                <label>Total Current Assets</label>
                <input type="number" class="form-control" required name="total_des_actifs_courant" id="tca">
              </div>
            </div>
            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Total Non-Current Assets </label>
                <input type="number" class="form-control" required name="total_des_actifs_non_courant" id="tnca">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label>Total Non-Current Liabilities</label>
                <input type="number" class="form-control" required name="total_des_passifs_non_courants" id="tncl">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label>Total Current Liabilities</label>
                <input type="number" class="form-control" required name="total_des_passifs_courants" id="tcl">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Accounts Payable</label>
                <input type="number" class="form-control"  required name="fournisseurs_et_comptes_rattachés" id="ap">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Total Operating Income</label>
                <input type="number" class="form-control" required name="total_des_produits_exploitation" id="toi">
              </div>
            </div>


            <div class="col-md-4 pr-md-1">
              <div class="form-group">
                <label>Net Profit</label>
                <input type="number" class="form-control"  required name="résultat_net" id="rn">

               

              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Liquidity</label>
                <input type="number" class="form-control" required name="liquidités" id="lq">
              </div>
            </div>

            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Total Assets</label>
                <input type="number" class="form-control" required name="total_des_actifs" id="ta">
              </div>
            </div>

            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label>Dotation To Depreciation And provisions </label>
                <input type="number" class="form-control" required name="dotations_aux_amortissements_et_aux_provisions" id="ta">
              </div>
            </div>



            <div class="col-md-4 pl-md-1">
              <div class="form-group">
                

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary" >Analyze</button>
    
          </div>
        </form>
      </div>
     
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.display();

  });
</script>

{% endblock javascripts %}